<h4 *ngIf="!question">Aguarde a seleção da pergunta...</h4>
<div *ngIf="question" class="card-container">
    <h4>Frase</h4>
    <app-question-card [question]="question"></app-question-card>
    <hr>
    <div *ngIf="!isFinished">
        <h4>Escolha a(s) resposta(s) na ordem de preenchimento das lacunas</h4>
        <p>A ordem de escolha dever ser a ordem de preenchimento das lacunas.</p>
        <p>Use o botão limpar para desfazer todas as seleções.</p>
        <div *ngFor="let answer of answers; let i = index">
            <app-answer-card [answer]="answer" [selectionNumber]="selectedAnswers[i]" (click)="selectCard(i)"></app-answer-card>
        </div>
        <div class="button-container">
            <button class="button-left" (click)="clean()">Limpar</button>
            <button class="button-right" (click)="conclude()">Concluir</button>
        </div>
    </div>

    <h4 *ngIf="isFinished">Resposta selecionada com sucesso.<br>Aguardando demais jogadores...</h4>
</div>